*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }


/* Path: css/styles.css */

        body {
            margin: 0;
            padding: 30px;
            box-sizing: border-box;
            background-color: #d8dfe6;
            margin: 0;
            position: 0;
        
        }

        .bk-color{
            background-color: #697a7a;
            
        }

        .table_select{
            background-color: #333;
            width: 20%;
            height: auto;
            
            h1{
                text-align: center;
                color: #f4f4f4;
                font-style: italic;
                font-size: large;
                font-family: sans-serif;
            }
            p{
                color: #f4f4f4;
                margin: 5%;
            }
        }

        .tables{
            margin: 5%;
            max-height: auto;

            
        }

       a{
        color: #333;
        text-decoration: none;
       }

     .top {
         background-color: #f4f4f4;
         height: 50px;
         width: 100%;
         
     }
        .sub {
            background-color: #333;
            height: 30px;
            width: 100%;
        }
        .layout {
            display: flex;
            justify-content: space-between;
        }
        .aside {
            background-color: #f4f4f4;
            width: 20%;
            height:auto;
        }
        .midlayout{
            background-color: #d8dfe6;
            width: 80%;
            margin-top: 2%;
            
        }

        .content1{

            margin-left: 5%; 
            margin-right: 5%;
            h1{
                text-align: center;
            }
        }

        .content2{
            margin-left: 5%; 
            margin-right: 5%;

        }

    
        
        .tr1{
            text-align: center;
            color: #f4f4f4;
        }

        .tr2{
            color: #100f0f;
            
                background-color: #f2f7f9;
                width: 100%;
                display: flex;
                justify-content: center;
                text-align: left;
            
        }
         
        
        footer{
            background-color: #333;
            width: 100%;
            /* height: 30px; */
            padding-top: 1%;
            padding-bottom: 1%;
            color: #f4f4f4;
            text-align: center;
            font-style: italic;
            font-weight: 100;
        }
    
    